/*全局部分*/
h1{
	font-size: 36px;
}
h2{
	font-size: 30px;
}
.hr{
	width: 100%;
	height: 2px;
	margin:20px auto;

}


/*导航页部分*/
nav{
	background: #ccc;
	height: 50px;
	margin: 0px;
}
#banner{
	background: #777;
	height: 700px;
}
nav ul{
	list-style: none;
	margin: 0;
	float: right;
}
nav ul li,nav .logo{
	display: inline-block;
	line-height: 50px;
	margin-right: 20px;

}
nav ul li a{
	line-height: 50px;
	text-decoration: none;
	display: inline-block;
	height: inherit;
	color:#fff;

}
nav ul li.logo{
	float: left;
	padding: 10px;
}
.logo{
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;	

}
.logo a{
	color:#fff;
	text-decoration: none;
}


/*----------*banner部分*---------
--------------------------------*/
#banner .inner {
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 200px;

}
#banner .inner h1{
	margin: 0px;
}
button{
	border: none;
	background: #333;
	color: #eee;
	
}
#banner button{
	padding: 12px 30px;
}
#banner .inner .more{
	margin-top: 300px;

}


/*---------------正文部分-----
-----------------------------*/
.green-section{
	background:#0688F5;
	text-align:center;
	color: #fff;
	padding:100px 0;
}
.wrapper{
	max-width: 40%;
	margin: 0 auto;
	text-align:center;
	padding: 20px;
	
}
.green-section h2{
	margin: 0 ;
}

.green-section .hr{

	width: 100%;
	background: #097BDB;	
}
/*控制多个块级元素 当屏幕拉伸的时
------候会出现元素换行的情况------
----------以后希望能解决----------*/
.green-section .icon-group .icon{
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 1px solid #0D5796;
	transform: rotate(45deg);
	margin: 20px;
	margin-top: 40px;
}  
