/*全局部分*/
h1{
	font-size: 36px;
}
h2{
	font-size: 30px;
	margin: 0 ;
}
h3{
	font-size: 24px;
}
p{
	font-size: 18px;
	letter-spacing: 1px;
}
.hr{
	width: 100%;
	height: 2px;
	margin:20px auto;

}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}


/*导航页部分*/
header{
	background: rgba(0,0,0,0.1);
}
nav{
	background: transparent;
	height: 50px;
	margin: 0px;

}
#banner{
	background: rgba(0,0,0,0.1);
	height: 700px;
}
nav ul{
	list-style: none;
	margin: 0;
	float: right;
}
nav ul li,nav .logo{
	display: inline-block;
	line-height: 50px;
	margin-right: 20px;

}
nav ul li a{
	line-height: 50px;
	text-decoration: none;
	display: inline-block;
	height: inherit;
	color:#fff;

}
nav ul li.logo{
	float: left;
	padding: 10px;
}
.logo{
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;	
	margin: 0 0 0 10px;

}
.logo a{
	color:#fff;
	text-decoration: none;
}


/*----------*banner部分*---------
--------------------------------*/
#banner .inner {
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 200px;
	color: #fff;

}
#banner .inner h1{
	margin: 0px;
}
button{
	border: none;
	background: #333;
	color: #eee;
	
}
#banner button{
	padding: 12px 30px;
}
#banner .inner .more{
	margin: 0px;
	margin-top: 230px;

}
#banner .inner a{
	color: #fff;
}


/*---------------正文部分-----
-----------------------------*/
.green-section{
	background:#69B0AC;
	text-align:center;
	color: #fff;
	padding:100px 0;
}
.wrapper{
	max-width: 40%;
	margin: 0 auto;
	text-align:center;
	padding: 20px;
	
}
.green-section h2{
	margin: 0 ;
}

.green-section .hr{

	width: 100%;
	background: #4EA9A4;	
}
/*控制多个块级元素 当屏幕拉伸的时
------候会出现元素换行的情况------
----------以后希望能解决----------*/
.green-section .icon-group .icon{
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 1px solid #0D5796;
	transform: rotate(45deg);
	margin: 20px;
	margin-top: 40px;
}  
.gray-section{
	background: #1C1C1C;
	color: #fff;
}
.gray-section .img-section{
	width: 45%
}
.img-section img{
	width: 100%;
}

.gray-section .text-section{
	width: 55%
}
.article-preview > div{
	float: left;
	font-size: 0;
}
.article-preview:after{
	content: '';
	display: block;
	clear: both;
}
.article-preview:nth-child(odd){
	background-color: rgba(255,255,255,0.05);
}

.text-section{
	position: relative;
	top:40px;
	left: 40px;

}
.text-section> *{
	width: 90%;
}

.text-section p{
	font-size: 18px;
	letter-spacing: 1px;
}
.text-section h2{
	margin-bottom: 20px;
}
.text-section .text-section{
	font-size: 24px;
	margin-top: 0;
}
.purple-section{
	background: #4A225D;
	color: #fff;
	padding: 80px;
	padding-bottom: 0px;
}

.purple-section .wrapper{
	max-width: 800px;
}
.purple-section .heading-wrapper{
	text-align: center;
}
.purple-section .hr{
	background: #5D416B;
	width: 60%;
}
.card{
	float: left;
	width: 50%;
	min-height: 300px;
	padding: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.card:first-child{
	background: rgba(0,0,0,0.04);
}
.card:nth-child(2){
	background: rgba(0,0,0,0.08);
}
.card:nth-child(3){
	background: rgba(0,0,0,0.12);
}
.card:nth-child(4){
	background: rgba(0,0,0,0.16);
}
.card:nth-child(5){
	background: rgba(0,0,0,0.20);
}
.card:nth-child(6){
	background: rgba(0,0,0,0.24);
}
footer{
	background: #333;
	color: #fff;
	min-height: 100px;
	padding-top: 0;
	text-align:center;
}
footer ul{
	margin: 0;
	
	
	
}
ul.share-group{
	display: block;
	
	margin: 0 auto;
	padding: 20px;


}
ul.share-group li{
	display: inline-block;
	padding: 14px;
}
.copy{
	padding-bottom: 20px;
}
.main-wrapper{
	background: #444 url(../image/banner.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}